@model List<DemoBlog.DataAccess.ViewModel.UserList>
<div class=" row">
    <div class="col-md-3">
        User Name
    </div>
    <div class="col-md-3">
        User Type
    </div>
    <div class="col-md-3">
        Created On
    </div>
    <div class="col-md-3">
        Action
    </div>
</div>
<hr style="border-color:black" />
@for (int i = 0; i < Model.Count(); i++)
{
    <div class="row">
        <div class="col-md-3">
            @Model[i].UserName
        </div>
        <div class="col-md-3">
            @Model[i].UserType
        </div>
        <div class="col-md-3">
            @Model[i].CreatedOnStr
        </div>
        <div class="col-md-3">
            @if (Model[i].UserTypeID == (int)DemoBlog.DataAccess.ViewModel.Utility.UserType.StandardUser)
            {
                @Html.ActionLink("DELETE", "DeleteUser", null, new { @href = "javascript:void(0)", onclick = "DeleteUser(" + Model[i].UserID + ")", @style = "color: #0000ff" })
                <text> | </text>@Html.ActionLink("MAKE ADMIN", "MakeAdminUser", null, new { @href = "javascript:void(0)", onclick = "CreateAdminUser(" + Model[i].UserID + ", '" + Model[i].UserName + "')", @style = "color: #0000ff" })
            }
            else
            {
                <span style="color: #0000ff">N/A</span>
            }
        </div>
    </div>
}
<br />
<br />
<br />
<br />
<br />
